.app_stats {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .app_stats {
        flex-direction: column;
    }
    .app_stats *:not(:last-child) {
        margin-bottom: 10px;
    }
}